h1 {
    color: blue;
}
.bio-box {
    border-width: 5px;
    border-color: orange;
    border-style: solid;
}
.image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.top{
    background:gray;
}